@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --zad-green: 170 38% 25%;
    --zad-green-light: 170 38% 35%;
    --zad-beige: 53 29% 82%;
    --zad-beige-light: 53 31% 90%;
    --zad-gold: 54 42% 57%;
    --zad-lime: 79 58% 55%;

    --background: 0 0% 100%;
    --foreground: 230 12% 9%;

    --card: 240 5% 96%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 6% 80%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.2rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;
  }

  [data-theme='dark'] {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;

    --card: 0 0% 4%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0, 0%, 15%, 0.8;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply flex min-h-[100vh] flex-col bg-background text-foreground;
  }
  iconify-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
  }
}

@layer components {
  .section {
    @apply mx-auto w-full max-w-8xl;
    padding-inline: var(--site--margin);
  }

  .text-h1 {
    font-size: var(--text-h1);
  }

  .text-h2 {
    font-size: var(--text-h2);
  }

  .text-h3 {
    font-size: var(--text-h3);
  }

  .text-h4 {
    font-size: var(--text-h4);
  }

  .text-h5 {
    font-size: var(--text-h5);
  }

  .text-h6 {
    font-size: var(--text-h6);
  }

  .text-body-large {
    font-size: var(--text-body-large);
  }

  .text-body-main {
    font-size: var(--text-body-main);
  }

  .text-body-small {
    font-size: var(--text-body-small);
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

/* size variables */
:root {
  --site--margin: clamp(1.5rem, 0.406rem + 5.47vw, 5rem);
  --spacing-xl: clamp(1.5rem, 0.406rem + 5.47vw, 5rem);
  --spacing-lg: clamp(1.5rem, 1.032rem + 2.34vw, 3rem);
  --spacing-md: clamp(1.5rem, 1.188rem + 1.56vw, 2.5rem);
  --spacing-sm: clamp(1rem, 0.844rem + 0.78vw, 1.5rem);
  --spacing-xs: clamp(0.5rem, 0.344rem + 0.78vw, 1rem);

  --text-display: clamp(3.17rem, 2.468rem + 3.51vw, 5.63rem);
  --text-h1: clamp(2.54rem, 1.98rem + 2.8vw, 4.5rem);
  --text-h2: clamp(2.03rem, 1.582rem + 2.24vw, 3.6rem);
  --text-h3: clamp(1.63rem, 1.272rem + 1.79vw, 2.88rem);
  --text-h4: clamp(1.3rem, 1.014rem + 1.43vw, 2.3rem);
  --text-h5: clamp(1.04rem, 0.812rem + 1.14vw, 1.84rem);
  --text-h6: clamp(0.83rem, 0.648rem + 0.91vw, 1.47rem);
  --text-body-large: clamp(1.14rem, 1.102rem + 0.19vw, 1.26rem);
  --text-body-main: clamp(1rem, 0.984rem + 0.08vw, 1.05rem);
  --text-body-small: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
}
