@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --zad-green: 170 38% 25%;
    --zad-green-light: 170 38% 35%;
    --zad-beige: 53 29% 82%;
    --zad-beige-light: 53 31% 90%;
    --zad-gold: 54 42% 57%;
    --zad-lime: 79 58% 55%;

    --background: 0 0% 100%;
    --foreground: 230 12% 9%;

    --card: 240 5% 96%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 6% 80%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.2rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;
  }

  [data-theme='dark'] {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;

    --card: 0 0% 4%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0, 0%, 15%, 0.8;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply flex min-h-[100vh] flex-col bg-background text-foreground;
  }
}

@layer components {
  .section {
    @apply max-w-8xl mx-auto w-full;
    padding-inline: var(--site--margin);
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

[dir='rtl'] {
  .prose {
    text-align: right;
  }
}

/* size variables */
:root {
  --site--margin: clamp(1.5rem, 0.406rem + 5.47vw, 5rem);
  --size--2rem: clamp(1.75rem, 1.672rem + 0.39vw, 2rem);
  --size--2-5rem: clamp(2rem, 1.844rem + 0.78vw, 2.5rem);
  --size--3rem: clamp(2.25rem, 2.016rem + 1.17vw, 3rem);
  --size--3-5rem: clamp(2.375rem, 2.023rem + 1.76vw, 3.5rem);
  --size--4rem: clamp(2.5rem, 2.032rem + 2.34vw, 4rem);
  --size--4-5rem: clamp(2.75rem, 2.204rem + 2.73vw, 4.5rem);
  --size--5rem: clamp(3rem, 2.374rem + 3.13vw, 5rem);
  --size--5-5rem: clamp(3.25rem, 2.546rem + 3.52vw, 5.5rem);
  --size--6rem: clamp(3.5rem, 2.718rem + 3.91vw, 6rem);
  --size--6-5rem: clamp(3.75rem, 2.89rem + 4.3vw, 6.5rem);
  --size--7rem: clamp(4rem, 3.062rem + 4.69vw, 7rem);
  --size--7-5rem: clamp(4.25rem, 3.234rem + 5.08vw, 7.5rem);
  --size--8rem: clamp(4.5rem, 3.406rem + 5.47vw, 8rem);
  --size--8-5rem: clamp(4.75rem, 3.578rem + 5.86vw, 8.5rem);
  --size--9rem: clamp(5rem, 3.75rem + 6.25vw, 9rem);
  --size--9-5rem: clamp(5.25rem, 3.922rem + 6.64vw, 9.5rem);
  --size--10rem: clamp(5.5rem, 4.094rem + 7.03vw, 10rem);
  --size--11rem: clamp(5.75rem, 4.11rem + 8.2vw, 11rem);
  --size--12rem: clamp(6rem, 4.124rem + 9.38vw, 12rem);
  --size--13rem: clamp(6.5rem, 4.468rem + 10.16vw, 13rem);
  --size--14rem: clamp(7rem, 4.812rem + 10.94vw, 14rem);
  --size--15rem: clamp(7.5rem, 5.156rem + 11.72vw, 15rem);
  --size--16rem: clamp(8rem, 5.5rem + 12.5vw, 16rem);
  --_typography---font-size--display: clamp(3.78rem, 3.008rem + 3.86vw, 6.25rem);
  --_typography---font-size--h1: clamp(3rem, 2.532rem + 2.34vw, 4.5rem);
  --_typography---font-size--h2: clamp(2.38rem, 2.112rem + 1.34vw, 3.24rem);
  --_typography---font-size--h3: clamp(1.89rem, 1.752rem + 0.69vw, 2.33rem);
  --_typography---font-size--h4: clamp(1.5rem, 1.444rem + 0.28vw, 1.68rem);
  --_typography---font-size--h5: clamp(1.19rem, 1.184rem + 0.03vw, 1.21rem);
  --_typography---font-size--h6: clamp(0.87rem, 0.962rem + -0.11vw, 0.94rem);
  --_typography---font-size--text-large: clamp(1.14rem, 1.102rem + 0.19vw, 1.26rem);
  --_typography---font-size--text-main: clamp(1rem, 0.984rem + 0.08vw, 1.05rem);
  --_typography---font-size--text-small: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  --_spacing---section-space--large: clamp(7.23rem, 5.276rem + 9.77vw, 13.48rem);
  --_spacing---section-space--main: clamp(5.17rem, 3.958rem + 6.06vw, 9.05rem);
  --_spacing---section-space--small: clamp(3.69rem, 2.946rem + 3.72vw, 6.07rem);
  --_spacing---space--8: clamp(2.64rem, 2.19rem + 2.25vw, 4.08rem);
  --_spacing---space--7: clamp(1.88rem, 1.612rem + 1.34vw, 2.74rem);
  --_spacing---space--6: clamp(1.34rem, 1.184rem + 0.78vw, 1.84rem);
  --_spacing---space--5: clamp(0.96rem, 0.876rem + 0.42vw, 1.23rem);
  --_spacing---space--4: clamp(0.69rem, 0.646rem + 0.22vw, 0.83rem);
  --_spacing---space--3: clamp(0.49rem, 0.468rem + 0.11vw, 0.56rem);
  --_spacing---space--2: clamp(0.35rem, 0.344rem + 0.03vw, 0.37rem);
  --_spacing---space--1: clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
}
