@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --zad-green: 170 38% 25%;
    --zad-green-light: 170 38% 35%;
    --zad-beige: 53 29% 82%;
    --zad-beige-light: 53 31% 90%;
    --zad-gold: 54 42% 57%;
    --zad-lime: 79 58% 55%;

    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.147 0.004 49.25);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.147 0.004 49.25);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.147 0.004 49.25);
    --primary: oklch(0.216 0.006 56.043);
    --primary-foreground: oklch(0.985 0.001 106.423);
    --secondary: oklch(0.97 0.001 106.424);
    --secondary-foreground: oklch(0.216 0.006 56.043);
    --muted: oklch(0.97 0.001 106.424);
    --muted-foreground: oklch(0.553 0.013 58.071);
    --accent: oklch(0.97 0.001 106.424);
    --accent-foreground: oklch(0.216 0.006 56.043);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.923 0.003 48.717);
    --input: oklch(0.923 0.003 48.717);
    --ring: oklch(0.709 0.01 56.259);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0.001 106.423);
    --sidebar-foreground: oklch(0.147 0.004 49.25);
    --sidebar-primary: oklch(0.216 0.006 56.043);
    --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
    --sidebar-accent: oklch(0.97 0.001 106.424);
    --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
    --sidebar-border: oklch(0.923 0.003 48.717);
    --sidebar-ring: oklch(0.709 0.01 56.259);
  }

  [data-theme='dark'] {
    --zad-green: 170 38% 25%;
    --zad-green-light: 170.92 53% 26%;
    --zad-beige: 52.52 17% 27%;
    --zad-beige-light: 52.25 19% 11%;
    --zad-gold: 54 42% 57%;
    --zad-lime: 79 58% 55%;

    --background: oklch(0.147 0.004 49.25);
    --foreground: oklch(0.985 0.001 106.423);
    --card: oklch(0.216 0.006 56.043);
    --card-foreground: oklch(0.985 0.001 106.423);
    --popover: oklch(0.216 0.006 56.043);
    --popover-foreground: oklch(0.985 0.001 106.423);
    --primary: oklch(0.923 0.003 48.717);
    --primary-foreground: oklch(0.216 0.006 56.043);
    --secondary: oklch(0.268 0.007 34.298);
    --secondary-foreground: oklch(0.985 0.001 106.423);
    --muted: oklch(0.268 0.007 34.298);
    --muted-foreground: oklch(0.709 0.01 56.259);
    --accent: oklch(0.268 0.007 34.298);
    --accent-foreground: oklch(0.985 0.001 106.423);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.553 0.013 58.071);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.216 0.006 56.043);
    --sidebar-foreground: oklch(0.985 0.001 106.423);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
    --sidebar-accent: oklch(0.268 0.007 34.298);
    --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.553 0.013 58.071);
  }

  * {
    @apply border-border;
  }
  html {
    scroll-padding-top: clamp(
      4rem /* 64px */,
      1.86rem /* 29.76px */ + 5.36vw,
      7rem /* 112px */
    );
    overscroll-behavior: none;
    scroll-behavior: smooth;
  }
  ::selection {
    background: hsl(var(--zad-green-light) / 0.2);
    color: hsl(var(--zad-green-light) / 1);
  }
  body {
    @apply flex min-h-[100vh] flex-col bg-background text-foreground-primary;
  }
  
}

@layer components {
  .section {
    @apply mx-auto w-full max-w-8xl;
    padding-inline: var(--site--margin);
  }

  .text-h1 {
    font-size: var(--text-h1);
  }

  .text-h2 {
    font-size: var(--text-h2);
  }

  .text-h3 {
    font-size: var(--text-h3);
  }

  .text-h4 {
    font-size: var(--text-h4);
  }

  .text-h5 {
    font-size: var(--text-h5);
  }

  .text-h6 {
    font-size: var(--text-h6);
  }

  .text-body-large {
    font-size: var(--text-body-large);
  }

  .text-body-main {
    font-size: var(--text-body-main);
  }

  .text-body-small {
    font-size: var(--text-body-small);
  }

  iconify-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
  }
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

/* size variables */
:root {
  --site--margin: clamp(1.5rem, 0.406rem + 5.47vw, 5rem);
  --spacing-xl: clamp(1.5rem, 0.406rem + 5.47vw, 5rem);
  --spacing-lg: clamp(1.5rem, 1.032rem + 2.34vw, 3rem);
  --spacing-md: clamp(1.5rem, 1.188rem + 1.56vw, 2.5rem);
  --spacing-sm: clamp(1rem, 0.844rem + 0.78vw, 1.5rem);
  --spacing-xs: clamp(0.5rem, 0.344rem + 0.78vw, 1rem);

  --text-display: clamp(3.17rem, 2.468rem + 3.51vw, 5.63rem);
  --text-h1: clamp(2.54rem, 1.98rem + 2.8vw, 4.5rem);
  --text-h2: clamp(2.03rem, 1.582rem + 2.24vw, 3.6rem);
  --text-h3: clamp(1.63rem, 1.272rem + 1.79vw, 2.88rem);
  --text-h4: clamp(1.3rem, 1.014rem + 1.43vw, 2.3rem);
  --text-h5: clamp(1.04rem, 0.812rem + 1.14vw, 1.84rem);
  --text-h6: clamp(0.83rem, 0.648rem + 0.91vw, 1.47rem);
  --text-body-large: clamp(1.14rem, 1.102rem + 0.19vw, 1.26rem);
  --text-body-main: clamp(1rem, 0.984rem + 0.08vw, 1.05rem);
  --text-body-small: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
}
